name: Newman Tests

on: [push, pull_request]

jobs:
  newman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Run collection with Newman
        run: npm run test:newman

      - name: Upload HTML report artifact
        uses: actions/upload-artifact@v4
        with:
          name: newman-htmlextra-report
          path: ./reports/api-report.html
